
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

h1{
    font: 700 1.875rem "poppins", sans-serif;
    color: var(--text-color);
}

:root {

   --hue:159;

   --base-color: hsl(var (--hue)36% 57%);
   --base-color-second: hls(var(--hue)65% 88%);
   --basse-color-alt: hls(var(--hue)57% 53%);
   --title-color: hls(var(--hue 41% 10%))
   --text-color: hls(0 0% 48%);
   --text-color-light: hls(0 0% 98$);
   --body-color: hls(0 0% 98%);
}
body{
    font:400 1rem "dm sans", sans-serif;
    color: var(--title-color);
    background: var(--body-color)
    
}

#header{
    height: 4.5rem; 
}

nav{
    height: 4.5rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    width: 100%;
    font: 700 1.31rem "poppins", sans-serif;
    color: var(--title-color);

}

span{
    color: yellowgreen;
}

.conteiner{
    width: 90%;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.section{
    padding: 5rem 0;
}

#home .conteiner{
    margin: 0;
}